*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    font-size: 14px;
    user-select: none;
}
.mask_img{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background: url('../images/lnj.jpg');
    background-size: cover;
    /* 模糊滤镜 值越大越模糊 */
    filter: blur(100px);
}
.mask{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.35);
}
.header{
    
    height: 45px;
}
.header .logo{
    float: left;
    margin-left: 20px;
    opacity: 0.5;
}
.header .logo:hover{
    opacity: 1;
}
.header .logo a{
    display:inline-block;
    width: 78px;
    height: 21px;
    background-image: url(../images/player_logo.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.header .register{
    float: right;
    line-height: 45px;
}
.header .register li{
    list-style: none;
    float: left;
    cursor: pointer;
    margin-right: 20px;
    color: #fff;
    opacity: 0.5;
}
.header .register li:hover{
    opacity: 1;
}
.content{
    
    height: 460px;
}
.content .content_in{
    display: flex;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.footer{
    width: 100%;
    height: 80px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.footer .footer_in{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.content_in .content_left{
    width: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.content_in .content_right{
    width: 400px;
    height: 100%;
}
.content_left .content_toolbar{
    width: 100%;
    height: 40px;
}
.content_left .content_list{
    flex: 1;
}
.content_toolbar ul{
    display: flex;
    height: 100%;
    justify-content: space-evenly;
}
.content_toolbar ul li{
    cursor: pointer;
    list-style: none;
    width: 122px;
    height: 100%;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    opacity: 0.5;
    box-sizing: border-box;
    
}
.content_toolbar ul li:hover{
    opacity: 1;
}
.content_toolbar li i{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    vertical-align: -4px;
    background-image: url('../images/icon_sprite.png');
    background-repeat: no-repeat;
    
}
.content_toolbar li:nth-child(1) i{
    background-position: -60px -20px;
}
.content_toolbar li:nth-child(2) i{
    background-position: -20px -20px;
}
.content_toolbar li:nth-child(3) i{
    background-position: -40px -240px;
}
.content_toolbar li:nth-child(4) i{
    background-position: -100px -20px;
}
.content_toolbar li:nth-child(5) i{
    background-position: -40px -300px;
}
.content_list{
    overflow: auto;
}
.content_list li{
    display: flex;
    list-style: none;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    user-select: none;
}

.content_list .list_check{
    width: 50px;
    height: 100%;
    text-align: center;
    
}
.content_list .list_number{
    width: 20px;
    height: 100%;
    margin-right: 10px;
}
.content_list .list_number1{
    color: transparent!important;
    background: url('../images/wave.gif') no-repeat 0 center;
}
.content_list .list_name{
    flex: 1;
}
.content_list .list_singer{
    width: 20%;
    height: 100%;
}
.content_list .list_time{
    width: 20%;
    height: 100%;
}
.content_list i{
    display: inline-block;
    cursor: pointer;
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
    opacity: 0.5;
}
 .list_checked {
    background: url('../images/icon_sprite.png') no-repeat -60px -80px;
    opacity: 1!important;
}
.list_music .list_menu{
    margin-right: 20px;
    display: none;
}
.list_music,.list_title div{
    color: rgba(255, 255, 255, 0.5);
}

.list_menu a{
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url('../images/icon_list_menu.png') no-repeat;
    opacity: 0.5;
}
.list_menu a:hover{
    opacity: 1!important;
}
.list_menu a:nth-child(1){
    background-position:-120px 0 ;
}
.list_menu a:nth-child(2){
    background-position: -120px -80px;
}
.list_menu a:nth-child(3){
    background-position:-120px -120px ;
}
.list_menu a:nth-child(4){
    background-position:-120px -40px ;
}
.content_list .list_time a{
    float: left;
    width: 36px;
    height: 36px;
    background: url('../images/icon_list_menu.png') no-repeat -120px -160px;
    display: none;
    opacity: 0.5;
}
.content_list .list_time a:hover{
    opacity: 1;
}
.content_list .list_menu_play2{
    background-position: -80px -200px!important;
 }
.content_right .song_info{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    line-height: 30px;
}
.song_info a{
    text-decoration: none;
    color: #fff;
    opacity: 0.5;
}
.song_info a:hover{
    opacity: 1;
}
.song_info .song_info_pic{
    display: inline-block;
    width: 201px;
    height: 180px;
    background: url('../images/album_cover_player.png') no-repeat 0 0;
    text-align: left;
}
.song_info_pic img{
    width: 180px;
    height: 180px;
}
.content_right .song_lyric li{
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    
}
.content_right .song_lyric{
    line-height: 30px;
    margin-top: 30px;
    text-align: center;
    height: 150px;
    overflow: hidden;
}
.content_right .song_lyric .cur{
    color: #31c27e;
}
.footer_in a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: url('../images/player.png') no-repeat 0 0;
    margin-right: 20px;
}
.footer_in .music_pre{
    width: 19px;
    height: 20px;
    background-position: 0 -30px;
}
.footer_in .music_play{
    width: 21px;
    height: 29px;
    background-position: 0 0;
    vertical-align: -5px;
}
.footer_in .music_play2{
    background-position: -30px 0;
}
.footer_in .music_next{
    width: 19px;
    height: 20px;
    background-position: 0 -52px;
}
.footer_in .music_progress_info{
    display: inline-block;
    width: 660px;
    height: 40px;
    position: relative;
    top: 8px;
    color: #fff;
}
.music_progress_info .music_progress_top{
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.music_progress_info .music_progress_bar{
    width: 100%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
    cursor: pointer;
    position: relative;
}
.music_progress_bar .music_progress_line{
    width: 0;
    height: 100%;
    background-color: #fff;
}
.music_progress_line .music_progress_dot{
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -5px;
}
.music_progress_top .music_progress_name{
    float: left;
    opacity: 0.5;
}
.music_progress_top .music_progress_name:hover{
    opacity: 1;
}
.music_progress_top .music_progress_time{
    float: right;
    opacity: 0.5;
}
.footer_in{
    height: 80px;
    position: relative;
}
.footer_in .music_mode{
    width: 26px;
    height: 25px;
    background-position: 0 -205px;
    margin-left: 15px;
}
.footer_in .music_mode2{
    width: 23px;
    height: 20px;
    background-position: 0 -260px;
}
.footer_in .music_mode3{
    width: 25px;
    height: 19px;
    background-position: 0 -74px;
}
.footer_in .music_mode4{
    width: 26px;
    height: 25px;
    background-position: 0 -232px;
}
.footer_in .music_fav{
    width: 24px;
    height: 21px;
    background-position: 0 -96px;
}
.footer_in .music_fav2{
    background-position: -30px -96px;
}
.footer_in .music_down{
    width: 22px;
    height: 21px;
    background-position: 0 -120px;
}
.footer_in .music_comment{
    width: 24px;
    height: 24px;
    background-position: 0 -400px;
}
.footer_in .music_only{
    width: 74px;
    height: 27px;
    background-position: 0 -281px;
}
.footer_in .music_only2{
    background-position: 0 -310px;
}
.footer_in .music_voice_info{
    display: inline-block;
    width: 98px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 8px;
}
.music_voice_info .music_voice_icon{
    width: 26px;
    height: 21px;
    background-position: 0 -144px;
    position: absolute;
    left: 0;
    top: 10px;
}
.music_voice_info .voice{
    background-position: 0 -182px;
}
.music_voice_info .music_voice_bar{
    width: 70px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    right: -3px;
    top: 50%;
    margin-top: -2px;
    cursor: pointer;
}
.music_voice_bar .music_voice_line{
    width: 70px;
    height: 100%;
    background-color: #fff;
    position: relative;
}
.music_voice_line .music_voice_dot{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: -5px;
    left:70px;
}